In [8]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [145]:
from pyspark.sql import SparkSession
import pyspark

In [6]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [146]:
spark

In [56]:
df_spark = spark.read.csv('/content/employeePromotion.csv')

In [57]:
df_spark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string, _c8: string, _c9: string, _c10: string, _c11: string, _c12: string, _c13: string]

In [84]:
df = spark.read.option('header','true').csv('/content/employeePromotion.csv')

In [85]:
df

DataFrame[employee_id: string, department: string, region: string, education: string, gender: string, recruitment_channel: string, no_of_trainings: string, age: string, previous_year_rating: string, length_of_service: string, KPIs_met >80%: string, awards_won?: string, avg_training_score: string, is_promoted: string]

In [86]:
df.show()

+-----------+-----------------+---------+----------------+------+-------------------+---------------+---+--------------------+-----------------+-------------+-----------+------------------+-----------+
|employee_id|       department|   region|       education|gender|recruitment_channel|no_of_trainings|age|previous_year_rating|length_of_service|KPIs_met >80%|awards_won?|avg_training_score|is_promoted|
+-----------+-----------------+---------+----------------+------+-------------------+---------------+---+--------------------+-----------------+-------------+-----------+------------------+-----------+
|      65438|Sales & Marketing| region_7|Master's & above|     f|           sourcing|              1| 35|                   5|                8|            1|          0|                49|          0|
|      65141|       Operations|region_22|      Bachelor's|     m|              other|              1| 30|                   5|                4|            0|          0|                60|          0|
|       7513|Sales & Marketing|region_19|      Bachelor's|     m|           sourcing|              1| 34|                   3|                7|            0|          0|                50|          0|
|       2542|Sales & Marketing|region_23|      Bachelor's|     m|              other|              2| 39|                   1|               10|            0|          0|                50|          0|
|      48945|       Technology|region_26|      Bachelor's|     m|              other|              1| 45|                   3|                2|            0|          0|                73|          0|
|      58896|        Analytics| region_2|      Bachelor's|     m|           sourcing|              2| 31|                   3|                7|            0|          0|                85|          0|
|      20379|       Operations|region_20|      Bachelor's|     f|              other|              1| 31|                   3|                5|            0|          0|                59|          0|
|      16290|       Operations|region_34|Master's & above|     m|           sourcing|              1| 33|                   3|                6|            0|          0|                63|          0|
|      73202|        Analytics|region_20|      Bachelor's|     m|              other|              1| 28|                   4|                5|            0|          0|                83|          0|
|      28911|Sales & Marketing| region_1|Master's & above|     m|           sourcing|              1| 32|                   5|                5|            1|          0|                54|          0|
|      29934|       Technology|region_23|            NULL|     m|           sourcing|              1| 30|                NULL|                1|            0|          0|                77|          0|
|      49017|Sales & Marketing| region_7|      Bachelor's|     f|           sourcing|              1| 35|                   5|                3|            1|          0|                50|          1|
|      60051|Sales & Marketing| region_4|      Bachelor's|     m|           sourcing|              1| 49|                   5|                5|            1|          0|                49|          0|
|      38401|       Technology|region_29|Master's & above|     m|              other|              2| 39|                   3|               16|            0|          0|                80|          0|
|      77040|              R&D| region_2|Master's & above|     m|           sourcing|              1| 37|                   3|                7|            0|          0|                84|          0|
|      43931|       Operations| region_7|      Bachelor's|     m|              other|              1| 37|                   1|               10|            0|          0|                60|          0|
|       7152|       Technology| region_2|      Bachelor's|     m|              other|              1| 38|                   3|                5|            1|          0|                77|          0|
|       9403|Sales & Marketing|region_31|      Bachelor's|     m|              other|              1| 34|                   1|                4|            0|          0|                51|          0|
|      17436|Sales & Marketing|region_31|      Bachelor's|     m|              other|              1| 34|                   5|                8|            1|          0|                46|          0|
|      54461|       Operations|region_15|      Bachelor's|     m|              other|              1| 37|                   3|                9|            0|          0|                59|          0|
+-----------+-----------------+---------+----------------+------+-------------------+---------------+---+--------------------+-----------------+-------------+-----------+------------------+-----------+
only showing top 20 rows

In [87]:
df.head(3)

[Row(employee_id='65438', department='Sales & Marketing', region='region_7', education="Master's & above", gender='f', recruitment_channel='sourcing', no_of_trainings='1', age='35', previous_year_rating='5', length_of_service='8', KPIs_met >80%='1', awards_won?='0', avg_training_score='49', is_promoted='0'),
 Row(employee_id='65141', department='Operations', region='region_22', education="Bachelor's", gender='m', recruitment_channel='other', no_of_trainings='1', age='30', previous_year_rating='5', length_of_service='4', KPIs_met >80%='0', awards_won?='0', avg_training_score='60', is_promoted='0'),
 Row(employee_id='7513', department='Sales & Marketing', region='region_19', education="Bachelor's", gender='m', recruitment_channel='sourcing', no_of_trainings='1', age='34', previous_year_rating='3', length_of_service='7', KPIs_met >80%='0', awards_won?='0', avg_training_score='50', is_promoted='0')]

In [88]:
df.printSchema()

root
 |-- employee_id: string (nullable = true)
 |-- department: string (nullable = true)
 |-- region: string (nullable = true)
 |-- education: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- recruitment_channel: string (nullable = true)
 |-- no_of_trainings: string (nullable = true)
 |-- age: string (nullable = true)
 |-- previous_year_rating: string (nullable = true)
 |-- length_of_service: string (nullable = true)
 |-- KPIs_met >80%: string (nullable = true)
 |-- awards_won?: string (nullable = true)
 |-- avg_training_score: string (nullable = true)
 |-- is_promoted: string (nullable = true)

In [115]:
df = spark.read.csv('/content/employeePromotion.csv',header=True,inferSchema=True)

In [116]:
df.printSchema()

root
 |-- employee_id: integer (nullable = true)
 |-- department: string (nullable = true)
 |-- region: string (nullable = true)
 |-- education: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- recruitment_channel: string (nullable = true)
 |-- no_of_trainings: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- previous_year_rating: integer (nullable = true)
 |-- length_of_service: integer (nullable = true)
 |-- KPIs_met >80%: integer (nullable = true)
 |-- awards_won?: integer (nullable = true)
 |-- avg_training_score: integer (nullable = true)
 |-- is_promoted: integer (nullable = true)

In [117]:
df.columns

['employee_id',
 'department',
 'region',
 'education',
 'gender',
 'recruitment_channel',
 'no_of_trainings',
 'age',
 'previous_year_rating',
 'length_of_service',
 'KPIs_met >80%',
 'awards_won?',
 'avg_training_score',
 'is_promoted']

In [118]:
 df.select('gender')

DataFrame[gender: string]

In [119]:
 df.select('gender').head(3)

[Row(gender='f'), Row(gender='m'), Row(gender='m')]

In [120]:
df.select(['age','gender']).show() #select column

+---+------+
|age|gender|
+---+------+
| 35|     f|
| 30|     m|
| 34|     m|
| 39|     m|
| 45|     m|
| 31|     m|
| 31|     f|
| 33|     m|
| 28|     m|
| 32|     m|
| 30|     m|
| 35|     f|
| 49|     m|
| 39|     m|
| 37|     m|
| 37|     m|
| 38|     m|
| 34|     m|
| 34|     m|
| 37|     m|
+---+------+
only showing top 20 rows

In [121]:
df.describe().show()

+-------+------------------+----------+--------+----------------+------+-------------------+------------------+-----------------+--------------------+------------------+-------------------+--------------------+------------------+-------------------+
|summary|       employee_id|department|  region|       education|gender|recruitment_channel|   no_of_trainings|              age|previous_year_rating| length_of_service|      KPIs_met >80%|         awards_won?|avg_training_score|        is_promoted|
+-------+------------------+----------+--------+----------------+------+-------------------+------------------+-----------------+--------------------+------------------+-------------------+--------------------+------------------+-------------------+
|  count|             54808|     54808|   54808|           52399| 54808|              54808|             54808|            54808|               50684|             54808|              54808|               54808|             54808|              54808|
|   mean| 39195.83062691578|      NULL|    NULL|            NULL|  NULL|               NULL| 1.253010509414684|34.80391548679025|   3.329255780917055| 5.865512333965844|0.35197416435556855|0.023171799737264635| 63.38675010947307|0.08517004816815063|
| stddev|22586.581449145015|      NULL|    NULL|            NULL|  NULL|               NULL|0.6092640176487848|7.660169201585432|   1.259992551940845|4.2650941796858435|0.47759031988344536|  0.1504502589777512|13.371559498625551|0.27913712169547233|
|    min|                 1| Analytics|region_1|      Bachelor's|     f|              other|                 1|               20|                   1|                 1|                  0|                   0|                39|                  0|
|    max|             78298|Technology|region_9|Master's & above|     m|           sourcing|                10|               60|                   5|                37|                  1|                   1|                99|                  1|
+-------+------------------+----------+--------+----------------+------+-------------------+------------------+-----------------+--------------------+------------------+-------------------+--------------------+------------------+-------------------+

In [122]:
df

DataFrame[employee_id: int, department: string, region: string, education: string, gender: string, recruitment_channel: string, no_of_trainings: int, age: int, previous_year_rating: int, length_of_service: int, KPIs_met >80%: int, awards_won?: int, avg_training_score: int, is_promoted: int]

In [123]:
df.withColumn('Age after 2 year',df['age']+2).show() # create column

+-----------+-----------------+---------+----------------+------+-------------------+---------------+---+--------------------+-----------------+-------------+-----------+------------------+-----------+----------------+
|employee_id|       department|   region|       education|gender|recruitment_channel|no_of_trainings|age|previous_year_rating|length_of_service|KPIs_met >80%|awards_won?|avg_training_score|is_promoted|Age after 2 year|
+-----------+-----------------+---------+----------------+------+-------------------+---------------+---+--------------------+-----------------+-------------+-----------+------------------+-----------+----------------+
|      65438|Sales & Marketing| region_7|Master's & above|     f|           sourcing|              1| 35|                   5|                8|            1|          0|                49|          0|              37|
|      65141|       Operations|region_22|      Bachelor's|     m|              other|              1| 30|                   5|                4|            0|          0|                60|          0|              32|
|       7513|Sales & Marketing|region_19|      Bachelor's|     m|           sourcing|              1| 34|                   3|                7|            0|          0|                50|          0|              36|
|       2542|Sales & Marketing|region_23|      Bachelor's|     m|              other|              2| 39|                   1|               10|            0|          0|                50|          0|              41|
|      48945|       Technology|region_26|      Bachelor's|     m|              other|              1| 45|                   3|                2|            0|          0|                73|          0|              47|
|      58896|        Analytics| region_2|      Bachelor's|     m|           sourcing|              2| 31|                   3|                7|            0|          0|                85|          0|              33|
|      20379|       Operations|region_20|      Bachelor's|     f|              other|              1| 31|                   3|                5|            0|          0|                59|          0|              33|
|      16290|       Operations|region_34|Master's & above|     m|           sourcing|              1| 33|                   3|                6|            0|          0|                63|          0|              35|
|      73202|        Analytics|region_20|      Bachelor's|     m|              other|              1| 28|                   4|                5|            0|          0|                83|          0|              30|
|      28911|Sales & Marketing| region_1|Master's & above|     m|           sourcing|              1| 32|                   5|                5|            1|          0|                54|          0|              34|
|      29934|       Technology|region_23|            NULL|     m|           sourcing|              1| 30|                NULL|                1|            0|          0|                77|          0|              32|
|      49017|Sales & Marketing| region_7|      Bachelor's|     f|           sourcing|              1| 35|                   5|                3|            1|          0|                50|          1|              37|
|      60051|Sales & Marketing| region_4|      Bachelor's|     m|           sourcing|              1| 49|                   5|                5|            1|          0|                49|          0|              51|
|      38401|       Technology|region_29|Master's & above|     m|              other|              2| 39|                   3|               16|            0|          0|                80|          0|              41|
|      77040|              R&D| region_2|Master's & above|     m|           sourcing|              1| 37|                   3|                7|            0|          0|                84|          0|              39|
|      43931|       Operations| region_7|      Bachelor's|     m|              other|              1| 37|                   1|               10|            0|          0|                60|          0|              39|
|       7152|       Technology| region_2|      Bachelor's|     m|              other|              1| 38|                   3|                5|            1|          0|                77|          0|              40|
|       9403|Sales & Marketing|region_31|      Bachelor's|     m|              other|              1| 34|                   1|                4|            0|          0|                51|          0|              36|
|      17436|Sales & Marketing|region_31|      Bachelor's|     m|              other|              1| 34|                   5|                8|            1|          0|                46|          0|              36|
|      54461|       Operations|region_15|      Bachelor's|     m|              other|              1| 37|                   3|                9|            0|          0|                59|          0|              39|
+-----------+-----------------+---------+----------------+------+-------------------+---------------+---+--------------------+-----------------+-------------+-----------+------------------+-----------+----------------+
only showing top 20 rows

In [124]:
df.drop('Age after 2 year').show() # delete

+-----------+-----------------+---------+----------------+------+-------------------+---------------+---+--------------------+-----------------+-------------+-----------+------------------+-----------+
|employee_id|       department|   region|       education|gender|recruitment_channel|no_of_trainings|age|previous_year_rating|length_of_service|KPIs_met >80%|awards_won?|avg_training_score|is_promoted|
+-----------+-----------------+---------+----------------+------+-------------------+---------------+---+--------------------+-----------------+-------------+-----------+------------------+-----------+
|      65438|Sales & Marketing| region_7|Master's & above|     f|           sourcing|              1| 35|                   5|                8|            1|          0|                49|          0|
|      65141|       Operations|region_22|      Bachelor's|     m|              other|              1| 30|                   5|                4|            0|          0|                60|          0|
|       7513|Sales & Marketing|region_19|      Bachelor's|     m|           sourcing|              1| 34|                   3|                7|            0|          0|                50|          0|
|       2542|Sales & Marketing|region_23|      Bachelor's|     m|              other|              2| 39|                   1|               10|            0|          0|                50|          0|
|      48945|       Technology|region_26|      Bachelor's|     m|              other|              1| 45|                   3|                2|            0|          0|                73|          0|
|      58896|        Analytics| region_2|      Bachelor's|     m|           sourcing|              2| 31|                   3|                7|            0|          0|                85|          0|
|      20379|       Operations|region_20|      Bachelor's|     f|              other|              1| 31|                   3|                5|            0|          0|                59|          0|
|      16290|       Operations|region_34|Master's & above|     m|           sourcing|              1| 33|                   3|                6|            0|          0|                63|          0|
|      73202|        Analytics|region_20|      Bachelor's|     m|              other|              1| 28|                   4|                5|            0|          0|                83|          0|
|      28911|Sales & Marketing| region_1|Master's & above|     m|           sourcing|              1| 32|                   5|                5|            1|          0|                54|          0|
|      29934|       Technology|region_23|            NULL|     m|           sourcing|              1| 30|                NULL|                1|            0|          0|                77|          0|
|      49017|Sales & Marketing| region_7|      Bachelor's|     f|           sourcing|              1| 35|                   5|                3|            1|          0|                50|          1|
|      60051|Sales & Marketing| region_4|      Bachelor's|     m|           sourcing|              1| 49|                   5|                5|            1|          0|                49|          0|
|      38401|       Technology|region_29|Master's & above|     m|              other|              2| 39|                   3|               16|            0|          0|                80|          0|
|      77040|              R&D| region_2|Master's & above|     m|           sourcing|              1| 37|                   3|                7|            0|          0|                84|          0|
|      43931|       Operations| region_7|      Bachelor's|     m|              other|              1| 37|                   1|               10|            0|          0|                60|          0|
|       7152|       Technology| region_2|      Bachelor's|     m|              other|              1| 38|                   3|                5|            1|          0|                77|          0|
|       9403|Sales & Marketing|region_31|      Bachelor's|     m|              other|              1| 34|                   1|                4|            0|          0|                51|          0|
|      17436|Sales & Marketing|region_31|      Bachelor's|     m|              other|              1| 34|                   5|                8|            1|          0|                46|          0|
|      54461|       Operations|region_15|      Bachelor's|     m|              other|              1| 37|                   3|                9|            0|          0|                59|          0|
+-----------+-----------------+---------+----------------+------+-------------------+---------------+---+--------------------+-----------------+-------------+-----------+------------------+-----------+
only showing top 20 rows

In [125]:
df.withColumnRenamed('recruitment_channel','channel').show() # rename column

+-----------+-----------------+---------+----------------+------+--------+---------------+---+--------------------+-----------------+-------------+-----------+------------------+-----------+
|employee_id|       department|   region|       education|gender| channel|no_of_trainings|age|previous_year_rating|length_of_service|KPIs_met >80%|awards_won?|avg_training_score|is_promoted|
+-----------+-----------------+---------+----------------+------+--------+---------------+---+--------------------+-----------------+-------------+-----------+------------------+-----------+
|      65438|Sales & Marketing| region_7|Master's & above|     f|sourcing|              1| 35|                   5|                8|            1|          0|                49|          0|
|      65141|       Operations|region_22|      Bachelor's|     m|   other|              1| 30|                   5|                4|            0|          0|                60|          0|
|       7513|Sales & Marketing|region_19|      Bachelor's|     m|sourcing|              1| 34|                   3|                7|            0|          0|                50|          0|
|       2542|Sales & Marketing|region_23|      Bachelor's|     m|   other|              2| 39|                   1|               10|            0|          0|                50|          0|
|      48945|       Technology|region_26|      Bachelor's|     m|   other|              1| 45|                   3|                2|            0|          0|                73|          0|
|      58896|        Analytics| region_2|      Bachelor's|     m|sourcing|              2| 31|                   3|                7|            0|          0|                85|          0|
|      20379|       Operations|region_20|      Bachelor's|     f|   other|              1| 31|                   3|                5|            0|          0|                59|          0|
|      16290|       Operations|region_34|Master's & above|     m|sourcing|              1| 33|                   3|                6|            0|          0|                63|          0|
|      73202|        Analytics|region_20|      Bachelor's|     m|   other|              1| 28|                   4|                5|            0|          0|                83|          0|
|      28911|Sales & Marketing| region_1|Master's & above|     m|sourcing|              1| 32|                   5|                5|            1|          0|                54|          0|
|      29934|       Technology|region_23|            NULL|     m|sourcing|              1| 30|                NULL|                1|            0|          0|                77|          0|
|      49017|Sales & Marketing| region_7|      Bachelor's|     f|sourcing|              1| 35|                   5|                3|            1|          0|                50|          1|
|      60051|Sales & Marketing| region_4|      Bachelor's|     m|sourcing|              1| 49|                   5|                5|            1|          0|                49|          0|
|      38401|       Technology|region_29|Master's & above|     m|   other|              2| 39|                   3|               16|            0|          0|                80|          0|
|      77040|              R&D| region_2|Master's & above|     m|sourcing|              1| 37|                   3|                7|            0|          0|                84|          0|
|      43931|       Operations| region_7|      Bachelor's|     m|   other|              1| 37|                   1|               10|            0|          0|                60|          0|
|       7152|       Technology| region_2|      Bachelor's|     m|   other|              1| 38|                   3|                5|            1|          0|                77|          0|
|       9403|Sales & Marketing|region_31|      Bachelor's|     m|   other|              1| 34|                   1|                4|            0|          0|                51|          0|
|      17436|Sales & Marketing|region_31|      Bachelor's|     m|   other|              1| 34|                   5|                8|            1|          0|                46|          0|
|      54461|       Operations|region_15|      Bachelor's|     m|   other|              1| 37|                   3|                9|            0|          0|                59|          0|
+-----------+-----------------+---------+----------------+------+--------+---------------+---+--------------------+-----------------+-------------+-----------+------------------+-----------+
only showing top 20 rows

In [126]:
df.na.drop().show() # remove rows which has null value

+-----------+-----------------+---------+----------------+------+-------------------+---------------+---+--------------------+-----------------+-------------+-----------+------------------+-----------+
|employee_id|       department|   region|       education|gender|recruitment_channel|no_of_trainings|age|previous_year_rating|length_of_service|KPIs_met >80%|awards_won?|avg_training_score|is_promoted|
+-----------+-----------------+---------+----------------+------+-------------------+---------------+---+--------------------+-----------------+-------------+-----------+------------------+-----------+
|      65438|Sales & Marketing| region_7|Master's & above|     f|           sourcing|              1| 35|                   5|                8|            1|          0|                49|          0|
|      65141|       Operations|region_22|      Bachelor's|     m|              other|              1| 30|                   5|                4|            0|          0|                60|          0|
|       7513|Sales & Marketing|region_19|      Bachelor's|     m|           sourcing|              1| 34|                   3|                7|            0|          0|                50|          0|
|       2542|Sales & Marketing|region_23|      Bachelor's|     m|              other|              2| 39|                   1|               10|            0|          0|                50|          0|
|      48945|       Technology|region_26|      Bachelor's|     m|              other|              1| 45|                   3|                2|            0|          0|                73|          0|
|      58896|        Analytics| region_2|      Bachelor's|     m|           sourcing|              2| 31|                   3|                7|            0|          0|                85|          0|
|      20379|       Operations|region_20|      Bachelor's|     f|              other|              1| 31|                   3|                5|            0|          0|                59|          0|
|      16290|       Operations|region_34|Master's & above|     m|           sourcing|              1| 33|                   3|                6|            0|          0|                63|          0|
|      73202|        Analytics|region_20|      Bachelor's|     m|              other|              1| 28|                   4|                5|            0|          0|                83|          0|
|      28911|Sales & Marketing| region_1|Master's & above|     m|           sourcing|              1| 32|                   5|                5|            1|          0|                54|          0|
|      49017|Sales & Marketing| region_7|      Bachelor's|     f|           sourcing|              1| 35|                   5|                3|            1|          0|                50|          1|
|      60051|Sales & Marketing| region_4|      Bachelor's|     m|           sourcing|              1| 49|                   5|                5|            1|          0|                49|          0|
|      38401|       Technology|region_29|Master's & above|     m|              other|              2| 39|                   3|               16|            0|          0|                80|          0|
|      77040|              R&D| region_2|Master's & above|     m|           sourcing|              1| 37|                   3|                7|            0|          0|                84|          0|
|      43931|       Operations| region_7|      Bachelor's|     m|              other|              1| 37|                   1|               10|            0|          0|                60|          0|
|       7152|       Technology| region_2|      Bachelor's|     m|              other|              1| 38|                   3|                5|            1|          0|                77|          0|
|       9403|Sales & Marketing|region_31|      Bachelor's|     m|              other|              1| 34|                   1|                4|            0|          0|                51|          0|
|      17436|Sales & Marketing|region_31|      Bachelor's|     m|              other|              1| 34|                   5|                8|            1|          0|                46|          0|
|      54461|       Operations|region_15|      Bachelor's|     m|              other|              1| 37|                   3|                9|            0|          0|                59|          0|
|      12067|      Procurement|region_14|      Bachelor's|     m|              other|              1| 35|                   3|                7|            0|          0|                75|          0|
+-----------+-----------------+---------+----------------+------+-------------------+---------------+---+--------------------+-----------------+-------------+-----------+------------------+-----------+
only showing top 20 rows

In [127]:
df.na.drop(how='all').show()

+-----------+-----------------+---------+----------------+------+-------------------+---------------+---+--------------------+-----------------+-------------+-----------+------------------+-----------+
|employee_id|       department|   region|       education|gender|recruitment_channel|no_of_trainings|age|previous_year_rating|length_of_service|KPIs_met >80%|awards_won?|avg_training_score|is_promoted|
+-----------+-----------------+---------+----------------+------+-------------------+---------------+---+--------------------+-----------------+-------------+-----------+------------------+-----------+
|      65438|Sales & Marketing| region_7|Master's & above|     f|           sourcing|              1| 35|                   5|                8|            1|          0|                49|          0|
|      65141|       Operations|region_22|      Bachelor's|     m|              other|              1| 30|                   5|                4|            0|          0|                60|          0|
|       7513|Sales & Marketing|region_19|      Bachelor's|     m|           sourcing|              1| 34|                   3|                7|            0|          0|                50|          0|
|       2542|Sales & Marketing|region_23|      Bachelor's|     m|              other|              2| 39|                   1|               10|            0|          0|                50|          0|
|      48945|       Technology|region_26|      Bachelor's|     m|              other|              1| 45|                   3|                2|            0|          0|                73|          0|
|      58896|        Analytics| region_2|      Bachelor's|     m|           sourcing|              2| 31|                   3|                7|            0|          0|                85|          0|
|      20379|       Operations|region_20|      Bachelor's|     f|              other|              1| 31|                   3|                5|            0|          0|                59|          0|
|      16290|       Operations|region_34|Master's & above|     m|           sourcing|              1| 33|                   3|                6|            0|          0|                63|          0|
|      73202|        Analytics|region_20|      Bachelor's|     m|              other|              1| 28|                   4|                5|            0|          0|                83|          0|
|      28911|Sales & Marketing| region_1|Master's & above|     m|           sourcing|              1| 32|                   5|                5|            1|          0|                54|          0|
|      29934|       Technology|region_23|            NULL|     m|           sourcing|              1| 30|                NULL|                1|            0|          0|                77|          0|
|      49017|Sales & Marketing| region_7|      Bachelor's|     f|           sourcing|              1| 35|                   5|                3|            1|          0|                50|          1|
|      60051|Sales & Marketing| region_4|      Bachelor's|     m|           sourcing|              1| 49|                   5|                5|            1|          0|                49|          0|
|      38401|       Technology|region_29|Master's & above|     m|              other|              2| 39|                   3|               16|            0|          0|                80|          0|
|      77040|              R&D| region_2|Master's & above|     m|           sourcing|              1| 37|                   3|                7|            0|          0|                84|          0|
|      43931|       Operations| region_7|      Bachelor's|     m|              other|              1| 37|                   1|               10|            0|          0|                60|          0|
|       7152|       Technology| region_2|      Bachelor's|     m|              other|              1| 38|                   3|                5|            1|          0|                77|          0|
|       9403|Sales & Marketing|region_31|      Bachelor's|     m|              other|              1| 34|                   1|                4|            0|          0|                51|          0|
|      17436|Sales & Marketing|region_31|      Bachelor's|     m|              other|              1| 34|                   5|                8|            1|          0|                46|          0|
|      54461|       Operations|region_15|      Bachelor's|     m|              other|              1| 37|                   3|                9|            0|          0|                59|          0|
+-----------+-----------------+---------+----------------+------+-------------------+---------------+---+--------------------+-----------------+-------------+-----------+------------------+-----------+
only showing top 20 rows

In [128]:
df.na.drop(how='any',thresh=2).show() #atleast 2 nan value

+-----------+-----------------+---------+----------------+------+-------------------+---------------+---+--------------------+-----------------+-------------+-----------+------------------+-----------+
|employee_id|       department|   region|       education|gender|recruitment_channel|no_of_trainings|age|previous_year_rating|length_of_service|KPIs_met >80%|awards_won?|avg_training_score|is_promoted|
+-----------+-----------------+---------+----------------+------+-------------------+---------------+---+--------------------+-----------------+-------------+-----------+------------------+-----------+
|      65438|Sales & Marketing| region_7|Master's & above|     f|           sourcing|              1| 35|                   5|                8|            1|          0|                49|          0|
|      65141|       Operations|region_22|      Bachelor's|     m|              other|              1| 30|                   5|                4|            0|          0|                60|          0|
|       7513|Sales & Marketing|region_19|      Bachelor's|     m|           sourcing|              1| 34|                   3|                7|            0|          0|                50|          0|
|       2542|Sales & Marketing|region_23|      Bachelor's|     m|              other|              2| 39|                   1|               10|            0|          0|                50|          0|
|      48945|       Technology|region_26|      Bachelor's|     m|              other|              1| 45|                   3|                2|            0|          0|                73|          0|
|      58896|        Analytics| region_2|      Bachelor's|     m|           sourcing|              2| 31|                   3|                7|            0|          0|                85|          0|
|      20379|       Operations|region_20|      Bachelor's|     f|              other|              1| 31|                   3|                5|            0|          0|                59|          0|
|      16290|       Operations|region_34|Master's & above|     m|           sourcing|              1| 33|                   3|                6|            0|          0|                63|          0|
|      73202|        Analytics|region_20|      Bachelor's|     m|              other|              1| 28|                   4|                5|            0|          0|                83|          0|
|      28911|Sales & Marketing| region_1|Master's & above|     m|           sourcing|              1| 32|                   5|                5|            1|          0|                54|          0|
|      29934|       Technology|region_23|            NULL|     m|           sourcing|              1| 30|                NULL|                1|            0|          0|                77|          0|
|      49017|Sales & Marketing| region_7|      Bachelor's|     f|           sourcing|              1| 35|                   5|                3|            1|          0|                50|          1|
|      60051|Sales & Marketing| region_4|      Bachelor's|     m|           sourcing|              1| 49|                   5|                5|            1|          0|                49|          0|
|      38401|       Technology|region_29|Master's & above|     m|              other|              2| 39|                   3|               16|            0|          0|                80|          0|
|      77040|              R&D| region_2|Master's & above|     m|           sourcing|              1| 37|                   3|                7|            0|          0|                84|          0|
|      43931|       Operations| region_7|      Bachelor's|     m|              other|              1| 37|                   1|               10|            0|          0|                60|          0|
|       7152|       Technology| region_2|      Bachelor's|     m|              other|              1| 38|                   3|                5|            1|          0|                77|          0|
|       9403|Sales & Marketing|region_31|      Bachelor's|     m|              other|              1| 34|                   1|                4|            0|          0|                51|          0|
|      17436|Sales & Marketing|region_31|      Bachelor's|     m|              other|              1| 34|                   5|                8|            1|          0|                46|          0|
|      54461|       Operations|region_15|      Bachelor's|     m|              other|              1| 37|                   3|                9|            0|          0|                59|          0|
+-----------+-----------------+---------+----------------+------+-------------------+---------------+---+--------------------+-----------------+-------------+-----------+------------------+-----------+
only showing top 20 rows

In [129]:
df.na.drop(how='any',thresh=1,subset=['age']).show() # remove nan if nan exist in Age column

+-----------+-----------------+---------+----------------+------+-------------------+---------------+---+--------------------+-----------------+-------------+-----------+------------------+-----------+
|employee_id|       department|   region|       education|gender|recruitment_channel|no_of_trainings|age|previous_year_rating|length_of_service|KPIs_met >80%|awards_won?|avg_training_score|is_promoted|
+-----------+-----------------+---------+----------------+------+-------------------+---------------+---+--------------------+-----------------+-------------+-----------+------------------+-----------+
|      65438|Sales & Marketing| region_7|Master's & above|     f|           sourcing|              1| 35|                   5|                8|            1|          0|                49|          0|
|      65141|       Operations|region_22|      Bachelor's|     m|              other|              1| 30|                   5|                4|            0|          0|                60|          0|
|       7513|Sales & Marketing|region_19|      Bachelor's|     m|           sourcing|              1| 34|                   3|                7|            0|          0|                50|          0|
|       2542|Sales & Marketing|region_23|      Bachelor's|     m|              other|              2| 39|                   1|               10|            0|          0|                50|          0|
|      48945|       Technology|region_26|      Bachelor's|     m|              other|              1| 45|                   3|                2|            0|          0|                73|          0|
|      58896|        Analytics| region_2|      Bachelor's|     m|           sourcing|              2| 31|                   3|                7|            0|          0|                85|          0|
|      20379|       Operations|region_20|      Bachelor's|     f|              other|              1| 31|                   3|                5|            0|          0|                59|          0|
|      16290|       Operations|region_34|Master's & above|     m|           sourcing|              1| 33|                   3|                6|            0|          0|                63|          0|
|      73202|        Analytics|region_20|      Bachelor's|     m|              other|              1| 28|                   4|                5|            0|          0|                83|          0|
|      28911|Sales & Marketing| region_1|Master's & above|     m|           sourcing|              1| 32|                   5|                5|            1|          0|                54|          0|
|      29934|       Technology|region_23|            NULL|     m|           sourcing|              1| 30|                NULL|                1|            0|          0|                77|          0|
|      49017|Sales & Marketing| region_7|      Bachelor's|     f|           sourcing|              1| 35|                   5|                3|            1|          0|                50|          1|
|      60051|Sales & Marketing| region_4|      Bachelor's|     m|           sourcing|              1| 49|                   5|                5|            1|          0|                49|          0|
|      38401|       Technology|region_29|Master's & above|     m|              other|              2| 39|                   3|               16|            0|          0|                80|          0|
|      77040|              R&D| region_2|Master's & above|     m|           sourcing|              1| 37|                   3|                7|            0|          0|                84|          0|
|      43931|       Operations| region_7|      Bachelor's|     m|              other|              1| 37|                   1|               10|            0|          0|                60|          0|
|       7152|       Technology| region_2|      Bachelor's|     m|              other|              1| 38|                   3|                5|            1|          0|                77|          0|
|       9403|Sales & Marketing|region_31|      Bachelor's|     m|              other|              1| 34|                   1|                4|            0|          0|                51|          0|
|      17436|Sales & Marketing|region_31|      Bachelor's|     m|              other|              1| 34|                   5|                8|            1|          0|                46|          0|
|      54461|       Operations|region_15|      Bachelor's|     m|              other|              1| 37|                   3|                9|            0|          0|                59|          0|
+-----------+-----------------+---------+----------------+------+-------------------+---------------+---+--------------------+-----------------+-------------+-----------+------------------+-----------+
only showing top 20 rows

In [130]:
df.na.fill('wowow').show()  # replace nan with wowow

+-----------+-----------------+---------+----------------+------+-------------------+---------------+---+--------------------+-----------------+-------------+-----------+------------------+-----------+
|employee_id|       department|   region|       education|gender|recruitment_channel|no_of_trainings|age|previous_year_rating|length_of_service|KPIs_met >80%|awards_won?|avg_training_score|is_promoted|
+-----------+-----------------+---------+----------------+------+-------------------+---------------+---+--------------------+-----------------+-------------+-----------+------------------+-----------+
|      65438|Sales & Marketing| region_7|Master's & above|     f|           sourcing|              1| 35|                   5|                8|            1|          0|                49|          0|
|      65141|       Operations|region_22|      Bachelor's|     m|              other|              1| 30|                   5|                4|            0|          0|                60|          0|
|       7513|Sales & Marketing|region_19|      Bachelor's|     m|           sourcing|              1| 34|                   3|                7|            0|          0|                50|          0|
|       2542|Sales & Marketing|region_23|      Bachelor's|     m|              other|              2| 39|                   1|               10|            0|          0|                50|          0|
|      48945|       Technology|region_26|      Bachelor's|     m|              other|              1| 45|                   3|                2|            0|          0|                73|          0|
|      58896|        Analytics| region_2|      Bachelor's|     m|           sourcing|              2| 31|                   3|                7|            0|          0|                85|          0|
|      20379|       Operations|region_20|      Bachelor's|     f|              other|              1| 31|                   3|                5|            0|          0|                59|          0|
|      16290|       Operations|region_34|Master's & above|     m|           sourcing|              1| 33|                   3|                6|            0|          0|                63|          0|
|      73202|        Analytics|region_20|      Bachelor's|     m|              other|              1| 28|                   4|                5|            0|          0|                83|          0|
|      28911|Sales & Marketing| region_1|Master's & above|     m|           sourcing|              1| 32|                   5|                5|            1|          0|                54|          0|
|      29934|       Technology|region_23|           wowow|     m|           sourcing|              1| 30|                NULL|                1|            0|          0|                77|          0|
|      49017|Sales & Marketing| region_7|      Bachelor's|     f|           sourcing|              1| 35|                   5|                3|            1|          0|                50|          1|
|      60051|Sales & Marketing| region_4|      Bachelor's|     m|           sourcing|              1| 49|                   5|                5|            1|          0|                49|          0|
|      38401|       Technology|region_29|Master's & above|     m|              other|              2| 39|                   3|               16|            0|          0|                80|          0|
|      77040|              R&D| region_2|Master's & above|     m|           sourcing|              1| 37|                   3|                7|            0|          0|                84|          0|
|      43931|       Operations| region_7|      Bachelor's|     m|              other|              1| 37|                   1|               10|            0|          0|                60|          0|
|       7152|       Technology| region_2|      Bachelor's|     m|              other|              1| 38|                   3|                5|            1|          0|                77|          0|
|       9403|Sales & Marketing|region_31|      Bachelor's|     m|              other|              1| 34|                   1|                4|            0|          0|                51|          0|
|      17436|Sales & Marketing|region_31|      Bachelor's|     m|              other|              1| 34|                   5|                8|            1|          0|                46|          0|
|      54461|       Operations|region_15|      Bachelor's|     m|              other|              1| 37|                   3|                9|            0|          0|                59|          0|
+-----------+-----------------+---------+----------------+------+-------------------+---------------+---+--------------------+-----------------+-------------+-----------+------------------+-----------+
only showing top 20 rows

In [131]:
df.na.fill('wowow',subset=['education']).show()  # replace nan with wowow

+-----------+-----------------+---------+----------------+------+-------------------+---------------+---+--------------------+-----------------+-------------+-----------+------------------+-----------+
|employee_id|       department|   region|       education|gender|recruitment_channel|no_of_trainings|age|previous_year_rating|length_of_service|KPIs_met >80%|awards_won?|avg_training_score|is_promoted|
+-----------+-----------------+---------+----------------+------+-------------------+---------------+---+--------------------+-----------------+-------------+-----------+------------------+-----------+
|      65438|Sales & Marketing| region_7|Master's & above|     f|           sourcing|              1| 35|                   5|                8|            1|          0|                49|          0|
|      65141|       Operations|region_22|      Bachelor's|     m|              other|              1| 30|                   5|                4|            0|          0|                60|          0|
|       7513|Sales & Marketing|region_19|      Bachelor's|     m|           sourcing|              1| 34|                   3|                7|            0|          0|                50|          0|
|       2542|Sales & Marketing|region_23|      Bachelor's|     m|              other|              2| 39|                   1|               10|            0|          0|                50|          0|
|      48945|       Technology|region_26|      Bachelor's|     m|              other|              1| 45|                   3|                2|            0|          0|                73|          0|
|      58896|        Analytics| region_2|      Bachelor's|     m|           sourcing|              2| 31|                   3|                7|            0|          0|                85|          0|
|      20379|       Operations|region_20|      Bachelor's|     f|              other|              1| 31|                   3|                5|            0|          0|                59|          0|
|      16290|       Operations|region_34|Master's & above|     m|           sourcing|              1| 33|                   3|                6|            0|          0|                63|          0|
|      73202|        Analytics|region_20|      Bachelor's|     m|              other|              1| 28|                   4|                5|            0|          0|                83|          0|
|      28911|Sales & Marketing| region_1|Master's & above|     m|           sourcing|              1| 32|                   5|                5|            1|          0|                54|          0|
|      29934|       Technology|region_23|           wowow|     m|           sourcing|              1| 30|                NULL|                1|            0|          0|                77|          0|
|      49017|Sales & Marketing| region_7|      Bachelor's|     f|           sourcing|              1| 35|                   5|                3|            1|          0|                50|          1|
|      60051|Sales & Marketing| region_4|      Bachelor's|     m|           sourcing|              1| 49|                   5|                5|            1|          0|                49|          0|
|      38401|       Technology|region_29|Master's & above|     m|              other|              2| 39|                   3|               16|            0|          0|                80|          0|
|      77040|              R&D| region_2|Master's & above|     m|           sourcing|              1| 37|                   3|                7|            0|          0|                84|          0|
|      43931|       Operations| region_7|      Bachelor's|     m|              other|              1| 37|                   1|               10|            0|          0|                60|          0|
|       7152|       Technology| region_2|      Bachelor's|     m|              other|              1| 38|                   3|                5|            1|          0|                77|          0|
|       9403|Sales & Marketing|region_31|      Bachelor's|     m|              other|              1| 34|                   1|                4|            0|          0|                51|          0|
|      17436|Sales & Marketing|region_31|      Bachelor's|     m|              other|              1| 34|                   5|                8|            1|          0|                46|          0|
|      54461|       Operations|region_15|      Bachelor's|     m|              other|              1| 37|                   3|                9|            0|          0|                59|          0|
+-----------+-----------------+---------+----------------+------+-------------------+---------------+---+--------------------+-----------------+-------------+-----------+------------------+-----------+
only showing top 20 rows

In [132]:
df.columns

['employee_id',
 'department',
 'region',
 'education',
 'gender',
 'recruitment_channel',
 'no_of_trainings',
 'age',
 'previous_year_rating',
 'length_of_service',
 'KPIs_met >80%',
 'awards_won?',
 'avg_training_score',
 'is_promoted']

In [133]:
df = df.drop(*df.columns[9:])
df = df.drop(*df.columns[:3])

In [134]:
df.show()

+----------------+------+-------------------+---------------+---+--------------------+
|       education|gender|recruitment_channel|no_of_trainings|age|previous_year_rating|
+----------------+------+-------------------+---------------+---+--------------------+
|Master's & above|     f|           sourcing|              1| 35|                   5|
|      Bachelor's|     m|              other|              1| 30|                   5|
|      Bachelor's|     m|           sourcing|              1| 34|                   3|
|      Bachelor's|     m|              other|              2| 39|                   1|
|      Bachelor's|     m|              other|              1| 45|                   3|
|      Bachelor's|     m|           sourcing|              2| 31|                   3|
|      Bachelor's|     f|              other|              1| 31|                   3|
|Master's & above|     m|           sourcing|              1| 33|                   3|
|      Bachelor's|     m|              other|              1| 28|                   4|
|Master's & above|     m|           sourcing|              1| 32|                   5|
|            NULL|     m|           sourcing|              1| 30|                NULL|
|      Bachelor's|     f|           sourcing|              1| 35|                   5|
|      Bachelor's|     m|           sourcing|              1| 49|                   5|
|Master's & above|     m|              other|              2| 39|                   3|
|Master's & above|     m|           sourcing|              1| 37|                   3|
|      Bachelor's|     m|              other|              1| 37|                   1|
|      Bachelor's|     m|              other|              1| 38|                   3|
|      Bachelor's|     m|              other|              1| 34|                   1|
|      Bachelor's|     m|              other|              1| 34|                   5|
|      Bachelor's|     m|              other|              1| 37|                   3|
+----------------+------+-------------------+---------------+---+--------------------+
only showing top 20 rows

In [135]:
df = df.withColumnRenamed('previous_year_rating','pyr')

In [141]:
# from pyspark.ml.feature import Imputer


# imputer = Imputer(
#     inputCols=['education','pyr'],
#     outputCols=[f'new_{name}' for name in ['education','pyr']]
# ).setStrategy('max')

# imputer.fit(df).transform(df).show()

# Filter operation

In [144]:
df.filter('age > 40').select(['age','education']).show()

+---+----------------+
|age|       education|
+---+----------------+
| 45|      Bachelor's|
| 49|      Bachelor's|
| 41|            NULL|
| 57|      Bachelor's|
| 42|Master's & above|
| 59|      Bachelor's|
| 44|      Bachelor's|
| 50|      Bachelor's|
| 56|Master's & above|
| 50|Master's & above|
| 50|      Bachelor's|
| 41|Master's & above|
| 50|      Bachelor's|
| 47|      Bachelor's|
| 42|Master's & above|
| 46|Master's & above|
| 47|Master's & above|
| 44|      Bachelor's|
| 41|      Bachelor's|
| 60|Master's & above|
+---+----------------+
only showing top 20 rows

In [148]:
df = spark.read.csv('/content/test3.csv',header=True,inferSchema=True)

In [149]:
df.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [151]:
df.groupby('Name').sum().show()

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

In [152]:
df.groupby('Departments').sum().show()

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

In [153]:
df.groupby('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [159]:
df.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+